// hero
.hero {
  position: relative;
  padding: 187px 0;
  background-image: url('../img/hero-bg.png');
  background-size: cover;
  height: 100vh;
  @include r(1024) {
    padding-bottom: 50px;
    height: 100%;
  }

  &__row {
    align-items: flex-end;
  }

  &__logo {
    align-items: center;
    margin-bottom: 35px;
  }

  &__title {
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    color: #fff;
  }

  &__caption {
    font-size: 200px;
    line-height: 240px;
    color: #fff;
    text-transform: uppercase;
  }

  &__list {
    list-style-type: disc;
    margin-left: 20px;
  }

  &__list-item {
    color: #fff;
    font-size: 19px;
    line-height: 40px;
  }

  &__mouth {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 45px;
    margin: 0 auto;
    width: 38px;
    height: 60px;
    @include r(1024) {
      display: none;
    }
  }
}

.hero-form {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 5px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  @include r(1024) {
    margin-top: 20px;
  }
  &::after {
content: '';
    position: absolute;
    top: -30px;
    left: -20px;
    background: #FFFFFF;
    filter: blur(100px);
    width: 460px;
    height: 460px;
    @include r(576) {
      max-width: 100%;
      left: 0;
      right: 0;
    }
  }
  & > * {
    z-index: 500;
    position: relative;
  }
  &__heading {
    margin-bottom: 32px;
    padding: 16px 0;
    color: #fff;
    background: linear-gradient(180deg, rgba(47, 152, 228, 0.75) 0%, rgba(47, 152, 228, 0.225) 100%);
    backdrop-filter: blur(10px);
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    text-transform: uppercase;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  &__input {
    margin-bottom: 6px;
    background: rgba(130, 162, 185, 0.5);
    border-radius: 50px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    border: 1px solid #fff;
    width: 370px;
    max-width: 95%;
    height: 50px;
    @include r(1200) {
      max-width: 80%;
      margin: 6px auto;
    }
    @include r(375) {
      max-width: 100%;
    }

    &::placeholder {
      text-align: center;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #fff;
    }

    &:focus {
      outline: none;
      border: 1px solid #e24230;
    }

  }

  &__label {
    display: block;
  }

  &__conf {
    color: #909bad;
    font-size: 14px;
    line-height: 32px;
    justify-content: center;
    margin-bottom: 15px;
    @include r(480) {
      font-size: 12px;
    }

    a {
      text-decoration: underline;
      @include r(576) {
        display: block;
      }
    }
  }

  &__present {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 32px;
    color: #253E5B;
  }

  &__submit {
    background: #e24230;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    line-height: 19px;
    width: 190px;
    height: 50px;
    margin-bottom: 35px;
    transition: .3s background-color ease-in-out;

    &:disabled {
      background-color: rgba(130, 162, 185, 0.5);
      cursor: text;
    }
  }

  &__caption {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #253E5B;
  }
}

// advantages

.advantages {
  &__list {
    justify-content: center;
    flex-wrap: wrap;
    @include r(576) {
      flex-direction: column;
    }
  }

  &__title {
    @include r(576) {
      margin-bottom: 0;
    }
  }

  &__item {
    position: relative;
    flex: 0 0 25%;
    padding: 80px 50px 45px;
    text-align: center;
    @include r(1024) {
      flex: 1 1 24%;
    }
    @include r(768) {
      flex-basis: 50%;
    }
    @include r(576) {
      flex-basis: 100%;
    }
    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      display: block;
      height: 1px;
      width: 85%;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(144,155,173,0.4) 51.89%, rgba(255, 255, 255, 0) 100%)
    }
    &::after {
      content: '';
      position: absolute;
      top: 15%;
      right: 0;
      display: block;
      height: 85%;
      width: 1px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(144,155,173,0.4) 51.89%, rgba(255, 255, 255, 0) 100%);
      @include r(576) {
        content: none;
      }
    }
    &:nth-child(4)::after {
      content: none;
      @include r(1024) {
        content: '';
      }
    }
    &:nth-child(5)::before,
    &:nth-child(6)::before,
    &:nth-child(7)::before {
      content: none;
    }
    &:nth-child(5)::before,
    &:nth-child(6)::before {
      @include r(1024) {
        content: '';
      }
    }
    &:nth-child(even)::after,
    &:nth-child(7)::after {
      @include r(768) {
        content: none;
      }
    }

    &:hover > .advantages__hide {
      opacity: 1;
    }
  }

  img {
    margin-bottom: 20px;
  }

  &__caption {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #909BAD;

  }
}

.advantages-hide {
  opacity: 0;
  position: absolute;
  width: 95%;
  height: 73%;
  top: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #fff;
  text-align: left;
  transition: .3s opacity ease-in-out;
  padding: 0 18px;

  &__heading {
    display: flex;
    gap: 20px;
  }
  &__img {
    width: 31px;
    height: 35px;
  }
  &__caption {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #909BAD;
  }
  &__description {
    font-size: 15px;
    line-height: 26px;
    color: #909BAD;
  }
}

// directions

.direction {
  padding-bottom: 0;

  &__item {
    text-align: center;
    height: 260px;
    cursor: pointer;

    &.tabs__btn_active {
      padding: 20px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      background: linear-gradient(90deg, #F8FAFB 0%, #E9EFF4 48.44%, #F8FAFB 100%);
      backdrop-filter: blur(10px);
      .direction__img-wrp::before {
        opacity: 1;
      }
      p {
        color: #e24230;
      }
    }

    .direction__img-wrp {
      position: relative;
      margin-bottom: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      display: inline-block;
      margin-top: 7px;
      &::before {
        content: "";
        position: absolute;
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
        background: linear-gradient(24deg, #E9EFF4, #FFFFFF);
        border-radius: 23px;
        z-index: -1;
        opacity: 0;
        transition: .3s opacity ease-in-out;
      }
      img {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
      }
    }
  }

  &__img {
    @include r(1366) {
      object-fit: contain;
    }
    @include r(1024) {
      object-fit: none;
    }
    @include r(768) {
      object-fit: contain;
    }

  }

  &__caption {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #212E33;
    transition: .3s color ease-in-out;
  }

  &__content {
    display: flex;
    gap: 20px;
    padding: 40px 20px 90px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background: linear-gradient(90deg, #F8FAFB 0%, #E9EFF4 48.44%, #F8FAFB 100%);
    backdrop-filter: blur(10px);
    @include r(1024) {
      flex-direction: column;
    }

    p, li {
      font-size: 15px;
      line-height: 26px;
      color: #909BAD;

      strong {
        font-weight: 900;
      }
    }

    ul {
      list-style-type: disc;
      margin-left: 20px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
  }

  .tabs__content  {
    display: none;
  }

  .tabs__content_active {
    display: flex;
  }

  &__item:hover .direction__img-wrp::before {
    opacity: 1;
  }
  &__item:hover .direction__caption {
    color: #e24230;
  }

}

/* demo */
.demo {
  padding: 17px 0 12px;
  background-color: #E24230;

  &__flex {
    align-items: center;
    @include r(1280) {
      flex-wrap: wrap;
      gap: 20px 0;
      justify-content: center;
    }
  }

  &__icon {
    width: 54px;
    height: 71px;
    margin-right: 30px;
  }

  &__heading {
    margin-right: 35px;
    @include r(576) {
      margin-right: 0;
    }
  }

  &__caption {
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #fff;
  }

  &__subcaption {
    font-size: 20px;
    line-height: 32px;
    color: #fff;

    span {
      font-size: 30px;
      text-transform: uppercase;
    }
  }

  &__form {
    align-items: center;
    @include r(600) {
      flex-direction: column;
      gap: 15px;
    }
  }

  &__input {
    margin-right: 44px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    border: none;
    width: 315px;
    max-width: 100%;
    height: 51px;
    text-align: center;
    @include r(600) {
      margin-right: 0;
    }
    &::placeholder {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #fff;
      text-align: center;
    }

    &:focus {
      outline: 1px solid #fff;
    }
  }

  &__agreement {
    margin-right: 40px;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    @include r(600) {
      margin-right: 0;
    }
    a {
      text-decoration: underline;
    }

    .checkbox__pane {
      background-color: transparent;
    }

    .checkbox__input:checked + .checkbox__pane {
      background-color: #015190;
    }
  }

  &__round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #fff;

    svg {
      width: 9px;
      height: 7px;
    }
  }

  &__submit {
    padding: 16px 43px;
    margin-left: auto;
    background: #fff;
    border-radius: 50px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #212E33;
    transition: .3s background-color ease-in-out;
    @include r(600) {
      margin: 0 auto;
    }
    &:disabled {
      background-color: rgba(255, 255, 255, 0.5);
      cursor: text;
    }
  }
}


/* service */

.service {
  background-image: url('../img/service-bg.jpg');

  &__title {
    color: #fff;
  }

  &__list {

  }

  &__item {
    position: relative;
    //flex: 0 0 31%;
    padding: 30px 45px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    color: #fff;
    min-height: 420px;
    box-sizing: border-box;
    @include r(1024) {

    }
  }

  &__caption {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
  }

  &__description {
    font-size: 15px;
    line-height: 26px
  }

  &__btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    margin: 0 auto;
    padding: 16px 43px;
    max-width: 190px;
    font-weight: 900;
    line-height: 19px;
    color: #fff;
    background: #e24230;
    border-radius: 50px;
    @include r(1024) {
      position: static;
      display: block;
      margin: 15px auto 0;
    }
  }
}

/* steps */
.steps {
  background-image: url('../img/steps-bg.jpg');
  -webkit-background-size: cover;
  background-size: cover;

  &__title {
    color: #fff;
  }

  &__list {
    display: flex;
    gap: 50px 12px;
    flex-wrap: wrap;
    justify-content: center;

    svg {
      width: 111px;
      height: 108px;
      margin-bottom: 20px;
    }
  }

  &__item {
    position: relative;
    color: #fff;
    text-align: center;
    flex: 0 0 24%;
    @include r(576) {
      flex-basis: 100%;
    }
  }

  &__caption {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
  }

  &__number {
    position: absolute;
    top: 15px;
    right: 25%;
    font-weight: 900;
    font-size: 120px;
    color: #fff;
    opacity: .15;
  }
}


/* projects */
.projects {
  &__list {
    position: relative;
  }

  &__item {
    position: relative;
    margin-bottom: 80px;
  }

  &__logo {
    margin-bottom: 40px;
  }

  &__caption,
  &__description {
    max-width: 70%;
    margin: 0 auto;
  }

  &__caption {
    margin-bottom: 55px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #212E33;
  }

  &__description {
    font-size: 15px;
    line-height: 26px;
    color: #909BAD;
  }

  &__btn {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    background-color: #E24230;
    border-radius: 50px;
    font-weight: 900;
    line-height: 19px;
    color: #fff;
    width: 190px;
    height: 50px;
    @include r(576) {
      position: relative;
      display: block;
      margin: 30px auto;
    }
  }
}

/* numbers */

.numbers {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 280px;
    @include r(1366) {
      gap: 0 220px;
    }
    @include r(1024) {
      gap: 80px;
    }
  }

  &__item {

  }

  &__top {
    display: flex;
    align-items: center;
    gap: 0 10px;
  }

  &__caption {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #909BAD;
  }

  &__value {
    font-weight: 900;
    font-size: 70px;
    line-height: 84px;
    background: linear-gradient(115.36deg, #4091DB 0%, #35D0FA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &__bottom {
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: right;
    color: #909BAD;
  }
}


/* honors */
.honors {
  &__list {

  }
.honors-slider {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
  &__item {
    display: flex;
    justify-content: space-around;
    opacity: 0.4;
    transition: .3s opacity ease-in-out;
    &.swiper-slide-active {
      opacity: 1;
    }
    @include r(576) {
      display: block;
      text-align: center;
    }
  }

  &__heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 25px;
    @include r(576) {
      justify-content: center;
    }
  }

  &__caption {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #909BAD;
  }

  &__year {
    font-weight: 900;
    font-size: 70px;
    line-height: 84px;
    background: linear-gradient(115.36deg, #E24230 0%, #FFC0B9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &__span {
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: right;
    color: #909BAD;
    width: 100%;
    @include r(576) {
      display: none;
    }
  }
}


.main-bottom {
  background-image: url('../img/bottom-bg.jpg');
  background-size: cover;
}

.reviews {
  &__title {
    color: #fff;
  }

  &__list {
    display: flex;
    gap: 0 50px;
    @include r(768) {
      flex-direction: column;
      gap: 30px 0;
    }
  }

  &__item {
    flex: 0 0 31%;
    padding: 20px 45px 45px 40px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    color: #fff;
    @include r(1366) {
      flex: 1 1 31%;
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;

    p {
      text-align: right;
    }
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
  }

  &__profession {
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
  }

  &__experience {
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
  }
}

/* about*/
.about {
  &__title {
    color: #fff;
    text-align: left;
  }

  &__checkbox {
    color: #fff;

    .checkbox__pane {
      background-color: transparent;
    }
  }

  &__submit {
    background-color: #fff;
    color: #212E33;
  }

  &__form {
    background: none;
    backdrop-filter: none;
    padding: 0;
    &::after {
      content: none;
    }

    input {
      background-color: transparent;
    }

    @include r(1024) {
      margin-top: 20px;
    }
  }

  &__heading {
    margin-bottom: 0;
    padding-top: 26px;
    border: 1px solid #9AA6B7;
    background: rgba(226, 66, 48, 0.05);
    backdrop-filter: blur(10px);
    font-weight: 500;
    font-size: 33px;
    line-height: 1;
    text-transform: uppercase;
  }

  &__body {
    padding-top: 20px;
    border: 1px solid #B4BFC9;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  &__info {
    padding: 20px;
    color: #fff;
    font-size: 15px;
    line-height: 26px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid #fff;
    border-radius: 20px;

    span {
      font-size: 22px;
      font-weight: 700;
    }
  }
}
