<section class="about section main-bottom" id="" data-anchor="about">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="title-h2 about__title">О компании</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <svg>
          <use xlink:href="assets/img/sprite.svg#logo"></use>
        </svg>
        <div class="about__info">
          <span>AP/IX</span> - разработка компании ITco (Айтико). Мы предлагаем полный спектр
          IT-решений, которые помогают лечебным учреждениям наладить хранение
          и беспрепятственный обмен информацией при обслуживании пациентов.
        </div>
      </div>
      <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
        <form action="" class="hero__form hero-form about__form">
          <div class="hero-form__heading about__heading">Остались вопросы?</div>
          <div class="about__body">
            <p class="hero-form__caption">Закажите звонок!</p>
            <label for="name" class="hero-form__label">
              <input type="text" id="name" name="name" class="hero-form__input"
                     placeholder="Имя*" required>
            </label>
            <label for="hero-phone2" class="hero-form__label">
              <input type="tel" id="hero-phone2" name="hero-phone" class="hero-form__input phone-mask"
                     placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _" required>
            </label>
            <div class="hero-form__conf checkbox flex about__checkbox">
              <label for="conf3" class="checkbox__label">
                <input type="checkbox" name="conf3" id="conf3" class="checkbox__input  js-about-checkbox" checked>
                <span class="checkbox__pane"></span>
                Я согласен(а) на <a href="/">обработку персональных данных</a>
              </label>
            </div>
            <button class="btn-reset hero-form__submit about__submit js-about-submit">Заказать звонок
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
