<footer class="footer fp-auto-height section" id="">
  <div class="js-stop-header"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <svg class="footer__logo">
          <use xlink:href="assets/img/sprite.svg#footer-logo"></use>
        </svg>
      </div>
      <div class="col-lg-8 offset-lg-2">
        <nav class="footer-nav">
          <ul class="footer-nav__list">
            <li class="footer-nav__item"><a href="#direction" class="footer-nav__link">Направления</a></li>
            <li class="footer-nav__item"><a href="#service" class="footer-nav__link">Услуги</a></li>
            <li class="footer-nav__item"><a href="#projects" class="footer-nav__link">Проекты</a></li>
            <li class="footer-nav__item"><a href="#numbers" class="footer-nav__link">Мы в цифрах</a></li>
            <li class="footer-nav__item"><a href="#reviews" class="footer-nav__link">Отзывы</a></li>
            <li class="footer-nav__item"><a href="#about" class="footer-nav__link">О компании</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row align-items-end">
      <div class="col-xl-5 col-lg-6">
        <ul class="footer__requisites">
          <li><address>Адрес: г. Москва, ул. Новодмитровская д2, корп. 1, эт 14 пом. XCII</address></li>
          <li>ОГРН 1187746797655</li>
        </ul>
        <p class="footer__copy">&copy; 2022 ООО Айтико</p>
      </div>
      <div class="col-xl-4 col-lg-6 offset-xl-3">
        <div class="footer__contacts">
          <a href="" class="footer__tlg">
            <svg>
              <use xlink:href="assets/img/sprite.svg#footer-icon-tlg"></use>
            </svg>
          </a>
          <a href="tel:+74999597146" class="footer__phone">+7 499 959 71 46</a>
        </div>
        <p class="footer__copy text-right">Разработано в <a href="https://digital.tools" target="_blank">Digital.Tools</a></p>
      </div>
    </div>
  </div>
</footer>
