<div class="popup" id="popup" style="display: none">
  <form action="" class="hero__form hero-form">
    <div class="hero-form__heading">Записаться на демонстрацию продукта</div>
    <label for="hero-phone" class="hero-form__label"></label>
    <input type="tel" id="hero-phone" name="hero-phone" class="hero-form__input phone-mask"
           placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _" required>
    <div class="hero-form__conf checkbox flex">
      <label for="conf" class="checkbox__label">
        <input type="checkbox" name="conf" id="conf" class="checkbox__input js-hero-checkbox" checked>
        <span class="checkbox__pane"></span>
        Я согласен(а) на <a href="/">обработку персональных данных</a>
      </label>
    </div>
    <p class="hero-form__present">В подарок: презентация о системе AP/IX</p>
    <button class="btn-reset hero-form__submit js-hero-submit">Записаться</button>
  </form>

</div>
