.footer {
  padding-top: 70px;
  border-top: 10px solid #E24230;
  background-color: #909BAD;
  &__logo {
    width: 150px;
    height: 45px;
  }
  &__requisites {
    margin: 35px 0;
    list-style-type: disc;
    margin-left: 15px;
    li {
      font-size: 15px;
      line-height: 40px;
      color: #fff;
      @include r(576) {
        line-height: 1.5;
      }
      address {
        margin: 0;
      }
    }
  }
  &__copy {
    font-size: 15px;
    line-height: 60px;
    color: #fff;
    a {
      text-decoration: underline;
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
    @include r(1200) {
      justify-content: flex-end;
    }
  }
  &__tlg {
    position: relative;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #fff;
    @include r(1200) {
      margin-right: 15px;
    }
    svg {
      display: block;
      position: absolute;
      left: 20%;
      top: 30%;
      width: 29px;
      height: 27px;
    }
  }
  &__phone {
    margin-left: auto;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    @include r(1200) {
      font-size: 30px;
      margin-left: 0;
    }

  }
}

.footer-nav {
  @include r(1024) {
    margin-top: 20px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    @include r(600) {
      flex-direction: column;
    }
  }
  &__link {
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #fff;
  }
}
