.nav {
  display: block;

  width: 100%;
  &__list {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
  }
  &__link {
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
  }
}
