.nav {
  display: block;
  width: 100%;
  &__list {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    @include r(1024) {
      flex-direction: column;
      justify-content: center;
      gap: 20px;

    }
  }
  &__link {
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    @include r(1600) {
      font-size: 13px;
      line-height: 16px;
    }
  }
}


.hide-menu {
  display: none;
  top: -30px;
  position: absolute;
  left: 0;
  z-index: 100;
  padding: 50px;
  width: 90%;
  height: 100vh;
  background-image: url("../img/steps-bg.jpg");
  transform: translateX(-100%);
  transition: .3s transform ease-in-out;
  &.is-open {
    transform: translateX(0);
  }
  @include r(1024) {
    display: block;
  }
}



.close {
  position: absolute;
  top: 30px;
  right: 20px;
  svg {
    width: 35px;
    height: 35px;
  }
}
